* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./img/homepagebackground.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ffa500;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.h1,
.header-1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
  color: limegreen;
}

.h2,
.header-2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
  color: rgb(0, 132, 255);
}

h3,
.header-3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
  color: #dcdcdc;
}

.text-box h1 {
  font-size: 40px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #ffa500;
}

nav .fa {
  display: none;
}
