
/* For all pages */

@import url('https://fonts.cdnfonts.com/css/arcade-classic');

section { 
    background: lightgrey;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
img {
    padding: 0; /* Images have default padding which might cause scrolling errors */
}

.advanced-bg-color {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);   
}

/* styles for workouts frontpage */

.workouts_btn-style {
    font-size: 1.5rem;
    Border-radius: 0;
    background-color: transparent;
    font-family: 'ArcadeClassic', sans-serif;
    color: black;
    border: .5rem solid black;
}
levelcolumn {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.workouts_btn-style:hover{
    background-color: transparent;
    border-color: black;
    color: black;
}
.subintL {
    flex-direction: column;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: rgb(44, 213, 174);
    font-weight: bold;
    border: 2px solid #f1f1f1;
    font-size: 15px;     /* position: absolute;      top: 50%;   left: 50%;   transform: translate(-50%, -50%);   z-index: 2; */
    width: 80%; 
    padding: 10px;
    text-align: left;
    align-items: center;
}
