/* For all pages */

section { 
    background: lightgrey;
    overflow-x: hidden;
}
tLabel {
    font-family: Candara;
    font-size: 72px;
    align-items: center;
}

a {
    text-decoration: none;
}
imagebox {
    /*    width: 30px; */
    width: 10px;
    height: 10px;
}

/* styles for workouts frontpage */
.wrkts-container {
    height: 200vh;
}
.wrkts-lvl {  
    background-size: 100% 100%;
}
.workouts_btn-style {
    font-size: 1.5rem;
    Border-radius: 0;
    background-color: transparent;
    font-family: 'ArcadeClassic', sans-serif;
    color: black;
    border: .5rem solid black;
}
levelcolumn {
    /*    justify-content: left; */
    align-items: center;
    /* flex-direction: column;*/
    width: 30%;
    float: left;
    padding: 3%;
}
.workouts_btn-style {
    float: right;
}

.workouts_btn-style:hover{    
    background-color: transparent;
    border-color: black;
    color: black;
}
.subintL {
    
    width: 100%;
    background-color: rgba(10,150,50,0.06); /* Black w/opacity/see-through */
    color: rgb(44, 213, 174);
    font-weight: bold;
    border: 2px solid #f1f1f1;
    font-size: 15px;     /* position: absolute;      top: 50%;   left: 50%;   transform: translate(-50%, -50%);   z-index: 2; */
    
    padding: 10px;
    text-align: left;
    align-items: center;
}
.row {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.col {
    width: 30%;
    float: left;
    padding: 3%;
}


