/* For all pages */
body {
    --fs-sm: clamp(0.8rem, 0.12vi + 0.77rem, 0.89rem);
    --fs-base: clamp(1rem, 0.24vi + 0.95rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.43vi + 1.16rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 0.7vi + 1.41rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.1vi + 1.71rem, 2.81rem);
    --fs-xxl: clamp(3.44rem, 2.67vi + 3.08rem, 4.75rem);
    --fs-xxxl: clamp(5.05rem, 4.49vi + 4.51rem, 7rem);
}

section { 
    background: lightgrey;
    overflow-x: hidden;
}
tLabel {
    font-family: Candara;
    text-align: center;
    font-size: 72px;
    align-items: center;
    color:rgb(141, 200, 214);
    text-align: center;
    
}

a {
    text-decoration: none;
}


/* about us page */
.about_statement {
    font-family: sans-serif;
    font-size: var(--fs-xl);
}
.about_images {
    width: 40rem;
}
/* styles for workouts frontpage */
.wrkts-container {
    height: 200vh;
}
.wrkts-lvl {  
    background-size: 100% 100%;
}
.workouts_btn-style {
    font-size: 1.5rem;
    Border-radius: 0;
    background-color: transparent;
    font-family: 'ArcadeClassic', sans-serif;
    color: black;
    border: .5rem solid black;
}
levelcolumn {
    /*    justify-content: left; */
    align-items: center;
    /* flex-direction: column;*/
    width: 30%;
    float: left;
    padding: 3%;
}
.workouts_btn-style {
    float: right;
}

.workouts_btn-style:hover{    
    background-color: transparent;
    border-color: black;
    color: black;
}
.subintL {
    
    width: 100%;
    background-color: rgba(10,150,50,0.06); /* Black w/opacity/see-through */
    color: rgb(44, 213, 174);
    font-weight: bold;
    border: 2px solid #f1f1f1;
    font-size: 30px;     /* position: absolute;      top: 50%;   left: 50%;   transform: translate(-50%, -50%);   z-index: 2; */
    
    padding: 10px;
    text-align: left;
    align-items: center;
}
.row {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.col {
    width: 30%;
    float: left;
    padding: 3%;
}


