body {
    --fs-sm: clamp(0.8rem, 0.12vi + 0.77rem, 0.89rem);
    --fs-base: clamp(1rem, 0.24vi + 0.95rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.43vi + 1.16rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 0.7vi + 1.41rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.1vi + 1.71rem, 2.81rem);
    --fs-xxl: clamp(3.44rem, 2.67vi + 3.08rem, 4.75rem);
    --fs-xxxl: clamp(5.05rem, 4.49vi + 4.51rem, 7rem);
}
@font-face {
    font-family: logoFont;
    src: url(../styles/gym.ttf);
}
section { 
    background: lightgrey;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
#logo{
    color: black;
    font-family: logoFont;
    font-size: var(--fs-xxl);
}
#beast {
    color: black;
    font-family: logoFont;
    font-size: var(--fs-xxxl);
}
#get-started {
    font-size: var(--fs-md);
    font-family: sans-serif;
    border: .2rem solid black;
}
svg {
    margin-left: 1rem;
}

.welcome_bg {    
    background-image: url("../images/arnold_posing.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, -25%, 0); }
}
.title-container {
    flex-basis: 20%;
}
.animated-title {
    color: #222;
    font-family: Roboto, Arial, sans-serif;
}
.animated-title > div {
    overflow: hidden;
    position: relative;
    width: 90%;
}
.animated-title > div div {
    font-size: 12vmin;
    padding: 2vmin 0;
    position: relative;
}
.animated-title > div div span {
    display: block;
}
.animated-title > div.text-top {
}
.animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
    color: #767676;
}
.animated-title > div.text-bottom {

}
.animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
}

@media screen and (min-width: 800px) and (max-width: 1599px){
    .fnt-1 {
	font-size: 3rem;
    }
    .fnt-2 {
	font-size: 5rem;
    }
}
@media screen and (min-width: 1600px) {
    .fnt-1 {
	font-size: 5rem;
    }
    .fnt-2 {
	font-size: 7rem;
    }

}
